[Unit]
Description=HMC Insights Service

[Service]
User=nobody
TimeoutSec=20
Restart=on-failure
ExecStart=/opt/hmci/bin/hmci

[Install]
WantedBy=default.target
