[Unit]
Description=HMC Insights Service

[Service]
#User=nobody
#Group=nogroup
TimeoutStartSec=0
Restart=always
ExecStart=/opt/hmci/bin/hmci

[Install]
WantedBy=default.target
